/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

div.outer-flex {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .cover-container {
  max-width: 100em;
} */

/* HOMEPAGE */
.home-content {
  height: 70%;
  display:flex;
  align-items: center;
  flex-direction: column;
}

div.home-map {
  border-radius: 10px;
  height: 73%;
  width: 60%;
  border: 1px;
}

/*
* Header
*/
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.navbar {
}

.navbar-nav{
}
/*
 * Content-box
 */
 div.content-box {
 }

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* REGISTER */
div.register-fields-container{
    display: flex;
    flex-direction: column;
    height: 180px;
    justify-content: space-between;
}

/* LOGIN */
div.login-fields-container{
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: space-between;
}
